In [1]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from pgvector.psycopg2 import register_vector
import pandas as pd

In [ ]:
DB_NAME = "***"
USER = "**"
PASSWORD = "***"
HOST = "localhost"
PORT = "5432"

In [ ]:
conn = psycopg2.connect(dbname="***", user=USER, password=PASSWORD, host=HOST, port=PORT)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = conn.cursor()

In [4]:
# Create database if it does not exist
cur.execute(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}';")
exists = cur.fetchone()

In [5]:
if not exists:
    cur.execute(f"CREATE DATABASE {DB_NAME};")
    print(f"Database '{DB_NAME}' created.")
else:
    print(f"Database '{DB_NAME}' already exists.")

Database 'Nitec' already exists.

In [6]:
cur.close()
conn.close()

In [7]:
conn = psycopg2.connect(dbname=DB_NAME, user=USER, password=PASSWORD, host=HOST, port=PORT)
cur = conn.cursor()

In [8]:
cur.execute("CREATE EXTENSION IF NOT EXISTS vector;")
conn.commit()

In [9]:
register_vector(conn)

print("Connected to database and pgvector extension is set up!")

Connected to database and pgvector extension is set up!

In [10]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS movies (
        id SERIAL PRIMARY KEY,
        title TEXT,
        plot TEXT,
        genres TEXT,
        movie_cast TEXT,
        fullplot TEXT,
        countries TEXT,
        directors TEXT,
        rated TEXT,
        lastupdated TEXT,
        type TEXT,
        runtime TEXT,
        released BIGINT,
        awards_wins INT,
        awards_nominations INT,
        year INT,
        poster TEXT,
        languages TEXT,
        writers TEXT,
        merged_rating TEXT,
        merged_plot TEXT,
        embeddings VECTOR(384)
    );
""")
conn.commit()
print("Table 'movies' created successfully!")

Table 'movies' created successfully!

In [ ]:
# conn.rollback()

In [11]:
df=pd.read_parquet('./processed_mflix_movies_embedded.parquet')
len(df['embeddings'][0])

384

In [12]:
insert_query = """
    INSERT INTO movies (title, plot, genres, movie_cast, fullplot, countries, 
                        directors, rated, lastupdated, type, runtime, released, 
                        awards_wins, awards_nominations, year, poster, languages, 
                        writers, merged_rating, merged_plot, embeddings)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

In [13]:
df.fillna({
    "runtime.$numberInt": 0,
    "released.$date.$numberLong": 0,
    "awards.wins.$numberInt": 0,
    "awards.nominations.$numberInt": 0,
    "year.$numberInt": 0
}, inplace=True)

In [14]:
df

,plot,genres,cast,title,fullplot,countries,directors,rated,lastupdated,type,...,released.$date.$numberLong,awards.wins.$numberInt,awards.nominations.$numberInt,year.$numberInt,poster,languages,writers,merged_rating,merged_plot,embeddings
0,Three men hammer on an anvil and pass a bottle...,[Short],"[Charles Kayser, John Ott]",Blacksmith Scene,A stationary camera looks at a large anvil wit...,[USA],[William K.L. Dickson],UNRATED,2015-08-26 00:03:50.133000000,movie,...,-2418768000000,1,0,1893,None,None,None,6.2,A stationary camera looks at a large anvil wit...,"[-0.06101669743657112, 0.0607670433819294, -0...."
1,A group of bandits stage a brazen train hold-u...,"[Short, Western]","[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",The Great Train Robbery,Among the earliest existing films in American ...,[USA],[Edwin S. Porter],TV-G,2015-08-13 00:27:59.177000000,movie,...,-2085523200000,1,0,1903,https://m.media-amazon.com/images/M/MV5BMTU3Nj...,[English],None,7.4,Among the earliest existing films in American ...,"[-0.05368781089782715, -0.01406814344227314, -..."
2,"A young boy, opressed by his mother, goes on a...","[Short, Drama, Fantasy]","[Martin Fuller, Mrs. William Bechtel, Walter E...",The Land Beyond the Sunset,"Thanks to the Fresh Air Fund, a slum child esc...",[USA],[Harold M. Shaw],UNRATED,2015-08-29 00:27:45.437000000,movie,...,-1804377600000,1,0,1912,https://m.media-amazon.com/images/M/MV5BMTMzMD...,[English],[Dorothy G. Shore],7.1,"Thanks to the Fresh Air Fund, a slum child esc...","[0.02496330812573433, 0.06163919344544411, -4...."
3,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]","[Frank Powell, Grace Henderson, James Kirkwood...",A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[USA],[D.W. Griffith],G,2015-08-13 00:46:30.660000000,movie,...,-1895097600000,1,0,1909,None,[English],None,6.6,"A greedy tycoon decides, on a whim, to corner ...","[-0.05462929233908653, 0.0717046782374382, -0...."
4,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",[Winsor McCay],"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[USA],"[Winsor McCay, J. Stuart Blackton]",None,2015-08-29 01:09:03.030000000,movie,...,-1853539200000,1,0,1911,https://m.media-amazon.com/images/M/MV5BYzg2Nj...,[English],"[Winsor McCay (comic strip ""Little Nemo in Slu...",7.3,Cartoonist Winsor McCay agrees to create a lar...,"[-0.04025116562843323, -0.046722412109375, -0...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23442,None,None,None,None,None,None,None,None,None,None,...,0,0,0,0,None,None,None,None,None,[]
23443,None,None,None,None,None,None,None,None,None,None,...,0,0,0,0,None,None,None,None,None,[]
23444,None,None,None,None,None,None,None,None,None,None,...,0,0,0,0,None,None,None,None,None,[]
23445,None,None,None,None,None,None,None,None,None,None,...,0,0,0,0,None,None,None,None,None,[]
23446,None,None,None,None,None,None,None,None,None,None,...,0,0,0,0,None,None,None,None,None,[]

In [15]:
df.isna().sum()

plot                             1074
genres                           1147
cast                             1402
title                            1074
fullplot                         1450
countries                        1084
directors                        1329
rated                            9866
lastupdated                      1074
type                             1074
runtime.$numberInt                  0
released.$date.$numberLong          0
awards.wins.$numberInt              0
awards.nominations.$numberInt       0
year.$numberInt                     0
poster                           3645
languages                        1297
writers                          2245
merged_rating                    1607
merged_plot                      1074
embeddings                          0
dtype: int64

In [16]:
df.fillna('-', inplace=True)

In [17]:
data = [
    (
        row["title"], row["plot"], row["genres"], row["cast"], row["fullplot"],
        row["countries"], row["directors"], row["rated"], row["lastupdated"],
        row["type"], row["runtime.$numberInt"], int(row["released.$date.$numberLong"]),
        int(row["awards.wins.$numberInt"]), int(row["awards.nominations.$numberInt"]),
        int(row["year.$numberInt"]), row["poster"], row["languages"], row["writers"],
        row["merged_rating"], row["merged_plot"], row["embeddings"]
    )
    for _, row in df.iterrows()
]

In [128]:
import ast
import numpy as np

def convert_embedding(embedding):
    if isinstance(embedding, str):
        try:
            return np.array(ast.literal_eval(embedding), dtype=np.float32)
        except Exception as e:
            print(f"Error converting string embedding: {embedding} -> {e}")
            return np.zeros(384, dtype=np.float32)
    elif isinstance(embedding, (list, np.ndarray)):
        try:
            return np.array(embedding, dtype=np.float32)
        except Exception as e:
            print(f"Error converting list/ndarray embedding: {embedding} -> {e}")
            return np.zeros(384, dtype=np.float32)
    else:
        print(f"Invalid embedding type: {type(embedding)}")
        return np.zeros(384, dtype=np.float32)

df["embeddings"] = df["embeddings"].apply(convert_embedding)

In [145]:
invalid_embeddings = df[df['embeddings'].apply(lambda x: not isinstance(x, (np.ndarray, list)))]
print(invalid_embeddings[['title', 'embeddings']])

Empty DataFrame
Columns: [title, embeddings]
Index: []

In [90]:
# df.iloc[21299:]

In [18]:
for i, row in df.iterrows():
    try:
        data = (
            row["title"], row["plot"], row["genres"], row["cast"], row["fullplot"],
            row["countries"], row["directors"], row["rated"], row["lastupdated"],
            row["type"], row["runtime.$numberInt"], int(row["released.$date.$numberLong"]),
            int(row["awards.wins.$numberInt"]), int(row["awards.nominations.$numberInt"]),
            int(row["year.$numberInt"]), row["poster"], row["languages"], row["writers"],
            row["merged_rating"], row["merged_plot"], row["embeddings"]
        )
        cur.execute(insert_query, data)
    except Exception as e:
        print(f"Error inserting row {i} (Title: {row['title']}): {e}")
        continue  # Skip to next row

conn.commit()
print("Data inserted successfully!")

Error inserting row 0 (Title: Blacksmith Scene): could not convert string to float: 'Short'
Error inserting row 1 (Title: The Great Train Robbery): could not convert string to float: 'Short'
Error inserting row 2 (Title: The Land Beyond the Sunset): could not convert string to float: 'Short'
Error inserting row 3 (Title: A Corner in Wheat): could not convert string to float: 'Short'
Error inserting row 4 (Title: Winsor McCay, the Famous Cartoonist of the N.Y. Herald and His Moving Comics): could not convert string to float: 'Animation'
Error inserting row 5 (Title: Traffic in Souls): could not convert string to float: 'Crime'
Error inserting row 6 (Title: Gertie the Dinosaur): could not convert string to float: 'Animation'
Error inserting row 7 (Title: In the Land of the Head Hunters): could not convert string to float: 'Drama'
Error inserting row 8 (Title: The Perils of Pauline): could not convert string to float: 'Action'
Error inserting row 9 (Title: The Birth of a Nation): could not convert string to float: 'Drama'
Error inserting row 10 (Title: The Cheat): could not convert string to float: 'Drama'
Error inserting row 11 (Title: The Italian): could not convert string to float: 'Drama'
Error inserting row 12 (Title: Regeneration): could not convert string to float: 'Biography'
Error inserting row 13 (Title: Les vampires): could not convert string to float: 'Action'
Error inserting row 14 (Title: Civilization): could not convert string to float: 'Drama'
Error inserting row 15 (Title: Hell's Hinges): could not convert string to float: 'Romance'
Error inserting row 16 (Title: Intolerance: Love's Struggle Throughout the Ages): could not convert string to float: 'Drama'
Error inserting row 17 (Title: Where Are My Children?): could not convert string to float: 'Drama'
Error inserting row 18 (Title: The Immigrant): could not convert string to float: 'Short'
Error inserting row 19 (Title: The Poor Little Rich Girl): could not convert string to float: 'Comedy'
Error inserting row 20 (Title: Wild and Woolly): could not convert string to float: 'Comedy'
Error inserting row 21 (Title: The Blue Bird): could not convert string to float: 'Fantasy'
Error inserting row 22 (Title: Broken Blossoms or The Yellow Man and the Girl): could not convert string to float: 'Drama'
Error inserting row 23 (Title: From Hand to Mouth): could not convert string to float: 'Comedy'
Error inserting row 24 (Title: High and Dizzy): could not convert string to float: 'Comedy'
Error inserting row 25 (Title: The Last of the Mohicans): could not convert string to float: 'Adventure'
Error inserting row 26 (Title: One Week): could not convert string to float: 'Short'
Error inserting row 27 (Title: The Saphead): could not convert string to float: 'Comedy'
Error inserting row 28 (Title: Within Our Gates): could not convert string to float: 'Drama'
Error inserting row 29 (Title: The Ace of Hearts): could not convert string to float: 'Crime'
Error inserting row 30 (Title: The Four Horsemen of the Apocalypse): could not convert string to float: 'Drama'
Error inserting row 31 (Title: The Kid): could not convert string to float: 'Comedy'
Error inserting row 32 (Title: Miss Lulu Bett): could not convert string to float: 'Comedy'
Error inserting row 33 (Title: Now or Never): could not convert string to float: 'Comedy'
Error inserting row 34 (Title: Tol'able David): could not convert string to float: 'Drama'
Error inserting row 35 (Title: Cops): could not convert string to float: 'Short'
Error inserting row 36 (Title: Foolish Wives): could not convert string to float: 'Drama'
Error inserting row 37 (Title: Nanook of the North): could not convert string to float: 'Documentary'
Error inserting row 38 (Title: Nosferatu): could not convert string to float: 'Horror'
Error inserting row 39 (Title: Salom): could not convert string to float: 'Biography'
Error inserting row 40 (Title: Robin Hood): could not convert string to float: 'Adventure'
Error inserting row 41 (Title: The Hunchback of Notre Dame): could not convert string to float: 'Drama'
Error inserting row 42 (Title: Our Hospitality): could not convert string to float: 'Comedy'
Error inserting row 43 (Title: Safety Last!): could not convert string to float: 'Comedy'
Error inserting row 44 (Title: Three Ages): could not convert string to float: 'Comedy'
Error inserting row 45 (Title: A Woman of Paris: A Drama of Fate): could not convert string to float: 'Drama'
Error inserting row 46 (Title: The Chechahcos): could not convert string to float: 'Adventure'
Error inserting row 47 (Title: He Who Gets Slapped): could not convert string to float: 'Drama'
Error inserting row 48 (Title: The Iron Horse): could not convert string to float: 'Western'
Error inserting row 49 (Title: The Navigator): could not convert string to float: 'Action'
Error inserting row 50 (Title: Peter Pan): could not convert string to float: 'Adventure'
Error inserting row 51 (Title: Sherlock Jr.): could not convert string to float: 'Comedy'
Error inserting row 52 (Title: The Thief of Bagdad): could not convert string to float: 'Adventure'
Error inserting row 53 (Title: Wild Oranges): could not convert string to float: 'Drama'
Error inserting row 54 (Title: White Shadows): could not convert string to float: 'Drama'
Error inserting row 55 (Title: The Big Parade): could not convert string to float: 'Drama'
Error inserting row 56 (Title: Battleship Potemkin): could not convert string to float: 'History'
Error inserting row 57 (Title: Clash of the Wolves): could not convert string to float: 'Adventure'
Error inserting row 58 (Title: The Freshman): could not convert string to float: 'Comedy'
Error inserting row 59 (Title: Go West): could not convert string to float: 'Comedy'
Error inserting row 60 (Title: Grass: A Nation's Battle for Life): could not convert string to float: 'Documentary'
Error inserting row 61 (Title: Greed): could not convert string to float: 'Drama'
Error inserting row 62 (Title: The Gold Rush): could not convert string to float: 'Adventure'
Error inserting row 63 (Title: Lady Windermere's Fan): could not convert string to float: 'Comedy'
Error inserting row 64 (Title: The Lost World): could not convert string to float: 'Adventure'
Error inserting row 65 (Title: The Phantom of the Opera): could not convert string to float: 'Horror'
Error inserting row 66 (Title: Seven Chances): could not convert string to float: 'Comedy'
Error inserting row 67 (Title: Beau Geste): could not convert string to float: 'Action'
Error inserting row 68 (Title: Battling Butler): could not convert string to float: 'Comedy'
Error inserting row 69 (Title: Ben-Hur: A Tale of the Christ): could not convert string to float: 'Adventure'
Error inserting row 70 (Title: The Black Pirate): could not convert string to float: 'Adventure'
Error inserting row 71 (Title: Ella Cinders): could not convert string to float: 'Comedy'
Error inserting row 72 (Title: Flesh and the Devil): could not convert string to float: 'Drama'
Error inserting row 73 (Title: For Heaven's Sake): could not convert string to float: 'Action'
Error inserting row 74 (Title: Metropolis): could not convert string to float: 'Drama'
Error inserting row 75 (Title: The Son of the Sheik): could not convert string to float: 'Adventure'
Error inserting row 76 (Title: The Strong Man): could not convert string to float: 'Comedy'
Error inserting row 77 (Title: College): could not convert string to float: 'Comedy'
Error inserting row 78 (Title: The General): could not convert string to float: 'Action'
Error inserting row 79 (Title: It): could not convert string to float: 'Comedy'
Error inserting row 80 (Title: The Jazz Singer): could not convert string to float: 'Drama'
Error inserting row 81 (Title: The Kid Brother): could not convert string to float: 'Comedy'
Error inserting row 82 (Title: Napoleon): could not convert string to float: 'Biography'
Error inserting row 83 (Title: 7th Heaven): could not convert string to float: 'Drama'
Error inserting row 84 (Title: Sunrise): could not convert string to float: 'Drama'
Error inserting row 85 (Title: The Unknown): could not convert string to float: 'Drama'
Error inserting row 86 (Title: Upstream): could not convert string to float: 'Comedy'
Error inserting row 87 (Title: Wings): could not convert string to float: 'Drama'
Error inserting row 88 (Title: The Cameraman): could not convert string to float: 'Comedy'
Error inserting row 89 (Title: Pandora's Box): could not convert string to float: 'Crime'
Error inserting row 90 (Title: The Circus): could not convert string to float: 'Comedy'
Error inserting row 91 (Title: The Crowd): could not convert string to float: 'Drama'
Error inserting row 92 (Title: The Docks of New York): could not convert string to float: 'Crime'
Error inserting row 93 (Title: The Fall of the House of Usher): could not convert string to float: 'Short'
Error inserting row 94 (Title: Four Sons): could not convert string to float: 'Drama'
Error inserting row 95 (Title: The Last Command): could not convert string to float: 'Drama'
Error inserting row 96 (Title: Laugh, Clown, Laugh): could not convert string to float: 'Drama'
Error inserting row 97 (Title: Lonesome): could not convert string to float: 'Comedy'
Error inserting row 98 (Title: The Passion of Joan of Arc): could not convert string to float: 'Biography'
Error inserting row 99 (Title: Storm Over Asia): could not convert string to float: 'Drama'
Error inserting row 100 (Title: Show People): could not convert string to float: 'Comedy'
Error inserting row 101 (Title: Steamboat Bill, Jr.): could not convert string to float: 'Action'
Error inserting row 102 (Title: Street Angel): could not convert string to float: 'Drama'
Error inserting row 103 (Title: Steamboat Willie): could not convert string to float: 'Animation'
Error inserting row 104 (Title: The Wedding March): could not convert string to float: 'Drama'
Error inserting row 105 (Title: The Wind): could not convert string to float: 'Drama'
Error inserting row 106 (Title: Applause): could not convert string to float: 'Drama'
Error inserting row 107 (Title: Asphalt): could not convert string to float: 'Drama'
Error inserting row 108 (Title: The Broadway Melody): could not convert string to float: 'Musical'
Error inserting row 109 (Title: Man with a Movie Camera): could not convert string to float: 'Documentary'
Error inserting row 110 (Title: Disraeli): could not convert string to float: 'Biography'
Error inserting row 111 (Title: The Divine Lady): could not convert string to float: 'Drama'
Error inserting row 112 (Title: Hallelujah): could not convert string to float: 'Drama'
Error inserting row 113 (Title: In Old Arizona): could not convert string to float: 'Romance'
Error inserting row 114 (Title: Queen Kelly): could not convert string to float: 'Drama'
Error inserting row 115 (Title: All Quiet on the Western Front): could not convert string to float: 'Drama'
Error inserting row 116 (Title: The Big House): could not convert string to float: 'Drama'
Error inserting row 117 (Title: The Big Trail): could not convert string to float: 'Adventure'
Error inserting row 118 (Title: The Divorcee): could not convert string to float: 'Romance'
Error inserting row 119 (Title: The Devil to Pay!): could not convert string to float: 'Comedy'
Error inserting row 120 (Title: King of Jazz): could not convert string to float: 'Animation'
Error inserting row 121 (Title: Little Caesar): could not convert string to float: 'Crime'
Error inserting row 122 (Title: Men Without Women): could not convert string to float: 'Action'
Error inserting row 123 (Title: Morocco): could not convert string to float: 'Romance'
Error inserting row 124 (Title: Romance): could not convert string to float: 'Drama'
Error inserting row 125 (Title: The Blood of a Poet): could not convert string to float: 'Enrique Rivero'
Error inserting row 126 (Title: Under the Roofs of Paris): could not convert string to float: 'Comedy'
Error inserting row 127 (Title: Westfront 1918): could not convert string to float: 'Drama'
Error inserting row 128 (Title: Earth): could not convert string to float: 'Drama'
Error inserting row 129 (Title: Nosferatu): could not convert string to float: 'Horror'
Error inserting row 130 (Title: Bad Girl): could not convert string to float: 'Drama'
Error inserting row 131 (Title: The Champ): could not convert string to float: 'Drama'
Error inserting row 132 (Title: Cimarron): could not convert string to float: 'Drama'
Error inserting row 133 (Title: City Streets): could not convert string to float: 'Crime'
Error inserting row 134 (Title: City Lights): could not convert string to float: 'Comedy'
Error inserting row 135 (Title: Dishonored): could not convert string to float: 'Drama'
Error inserting row 136 (Title: Dracula): could not convert string to float: 'Horror'
Error inserting row 137 (Title: The 3 Penny Opera): could not convert string to float: 'Comedy'
Error inserting row 138 (Title: Frankenstein): could not convert string to float: 'Horror'
Error inserting row 139 (Title: A Free Soul): could not convert string to float: 'Crime'
Error inserting row 140 (Title: The Guardsman): could not convert string to float: 'Comedy'
Error inserting row 141 (Title: The Front Page): could not convert string to float: 'Comedy'
Error inserting row 142 (Title: Comradeship): could not convert string to float: 'Drama'
Error inserting row 143 (Title: M): could not convert string to float: 'Crime'
Error inserting row 144 (Title: Mdchen in Uniform): could not convert string to float: 'Drama'
Error inserting row 145 (Title: The Public Enemy): could not convert string to float: 'Crime'
Error inserting row 146 (Title: The Sin of Madelon Claudet): could not convert string to float: 'Drama'
Error inserting row 147 (Title: Skippy): could not convert string to float: 'Family'
Error inserting row 148 (Title: Tabu: A Story of the South Seas): could not convert string to float: 'Drama'
Error inserting row 149 (Title:  Nous la Libert): could not convert string to float: 'Comedy'
Error inserting row 150 (Title: The Blue Light): could not convert string to float: 'Drama'
Error inserting row 151 (Title: Broken Lullaby): could not convert string to float: 'Drama'
Error inserting row 152 (Title: The Crowd Roars): could not convert string to float: 'Drama'
Error inserting row 153 (Title: Dr. Jekyll and Mr. Hyde): could not convert string to float: 'Horror'
Error inserting row 154 (Title: A Farewell to Arms): could not convert string to float: 'Drama'
Error inserting row 155 (Title: Forbidden): could not convert string to float: 'Drama'
Error inserting row 156 (Title: Freaks): could not convert string to float: 'Drama'
Error inserting row 157 (Title: Grand Hotel): could not convert string to float: 'Drama'
Error inserting row 158 (Title: I Am a Fugitive from a Chain Gang): could not convert string to float: 'Crime'
Error inserting row 159 (Title: Love Me Tonight): could not convert string to float: 'Comedy'
Error inserting row 160 (Title: Murders in the Rue Morgue): could not convert string to float: 'Crime'
Error inserting row 161 (Title: The Mummy): could not convert string to float: 'Horror'
Error inserting row 162 (Title: Movie Crazy): could not convert string to float: 'Comedy'
Error inserting row 163 (Title: The Music Box): could not convert string to float: 'Comedy'
Error inserting row 164 (Title: Payment Deferred): could not convert string to float: 'Crime'
Error inserting row 165 (Title: Red Dust): could not convert string to float: 'Drama'
Error inserting row 166 (Title: Scarface): could not convert string to float: 'Action'
Error inserting row 167 (Title: Shanghai Express): could not convert string to float: 'Adventure'
Error inserting row 168 (Title: Smilin' Through): could not convert string to float: 'Drama'
Error inserting row 169 (Title: Tarzan the Ape Man): could not convert string to float: 'Action'
Error inserting row 170 (Title: Two Seconds): could not convert string to float: 'Drama'
Error inserting row 171 (Title: Trouble in Paradise): could not convert string to float: 'Comedy'
Error inserting row 172 (Title: I Was Born, But...): could not convert string to float: 'Comedy'
Error inserting row 173 (Title: Baby Face): could not convert string to float: 'Drama'
Error inserting row 174 (Title: Berkeley Square): could not convert string to float: 'Fantasy'
Error inserting row 175 (Title: Cavalcade): could not convert string to float: 'Drama'
Error inserting row 176 (Title: Dekigokoro): could not convert string to float: 'Drama'
Error inserting row 177 (Title: Duck Soup): could not convert string to float: 'Comedy'
Error inserting row 178 (Title: Eskimo): could not convert string to float: 'Drama'
Error inserting row 179 (Title: Footlight Parade): could not convert string to float: 'Comedy'
Error inserting row 180 (Title: 42nd Street): could not convert string to float: 'Comedy'
Error inserting row 181 (Title: Flying Down to Rio): could not convert string to float: 'Comedy'
Error inserting row 182 (Title: The Emperor Jones): could not convert string to float: 'Drama'
Error inserting row 183 (Title: Gold Diggers of 1933): could not convert string to float: 'Comedy'
Error inserting row 184 (Title: Going Hollywood): could not convert string to float: 'Musical'
Error inserting row 185 (Title: The Invisible Man): could not convert string to float: 'Drama'
Error inserting row 186 (Title: King Kong): could not convert string to float: 'Adventure'
Error inserting row 187 (Title: Little Women): could not convert string to float: 'Drama'
Error inserting row 188 (Title: The Power and the Glory): could not convert string to float: 'Drama'
Error inserting row 189 (Title: The Private Life of Henry VIII.): could not convert string to float: 'Biography'
Error inserting row 190 (Title: Queen Christina): could not convert string to float: 'Biography'
Error inserting row 191 (Title: She Done Him Wrong): could not convert string to float: 'Comedy'
Error inserting row 192 (Title: Sons of the Desert): could not convert string to float: 'Comedy'
Error inserting row 193 (Title: The Son of Kong): could not convert string to float: 'Adventure'
Error inserting row 194 (Title: State Fair): could not convert string to float: 'Comedy'
Error inserting row 195 (Title: Three Little Pigs): could not convert string to float: 'Animation'
Error inserting row 196 (Title: Topaze): could not convert string to float: 'Drama'
Error inserting row 197 (Title: Wild Boys of the Road): could not convert string to float: 'Adventure'
Error inserting row 198 (Title: Zoo in Budapest): could not convert string to float: 'Drama'
Error inserting row 199 (Title: Zero for Conduct): could not convert string to float: 'Short'
Error inserting row 200 (Title: The Barretts of Wimpole Street): could not convert string to float: 'Biography'
Error inserting row 201 (Title: The Black Cat): could not convert string to float: 'Horror'
Error inserting row 202 (Title: Broadway Bill): could not convert string to float: 'Comedy'
Error inserting row 203 (Title: Chapayev): could not convert string to float: 'Comedy'
Error inserting row 204 (Title: Cleopatra): could not convert string to float: 'Biography'
Error inserting row 205 (Title: The Count of Monte Cristo): could not convert string to float: 'Action'
Error inserting row 206 (Title: Death Takes a Holiday): could not convert string to float: 'Drama'
Error inserting row 207 (Title: Dames): could not convert string to float: 'Comedy'
Error inserting row 208 (Title: The Gay Divorcee): could not convert string to float: 'Comedy'
Error inserting row 209 (Title: Le grand jeu): could not convert string to float: 'Drama'
Error inserting row 210 (Title: Imitation of Life): could not convert string to float: 'Drama'
Error inserting row 211 (Title: It Happened One Night): could not convert string to float: 'Comedy'
Error inserting row 212 (Title: It's a Gift): could not convert string to float: 'Comedy'

In [138]:
conn.rollback()

In [ ]:
df.to_parquet('database_movies.parquet', index=False)